/*@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background: #ccc;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-size: 62.5%;
    overflow: hidden;
}
img,div,body,html,ul,li,a{
    -webkit-touch-callout:none;
}
a,input,button,select,textarea{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    appearance:none;
    border:none;
    outline: none;
}*/
html,body{
    width: 100%;
    height: 100%;
}
em{
    font-style: normal;
}
.wrap{
    width: 100%;
    height: 100%;
    background: url("../image/yq020.png");
    /*display: flex;*/
    overflow: hidden;
    position: relative;
}
.swiper-wrapper{
    width: 100%;
    height: 100%;
   /* flex: 1;*/
}
.swiper-container,.swiper-wrapper,.swiper-slide{
    width: 100%;
    height: 100%;
}
.slide1, .slide2, .slide3, .slide4, .slide5, .slide6{
    position: relative;
    width: 100%;
    height: 100%;
}
.slide1 img, .slide2 img, .slide3 img, .slide4 img, .slide5 img, .slide6 img{
    position: absolute;
}
.slide1 img:nth-child(1){
    width: 1.79rem;
    height: 1.92rem;
    left:0.4rem;
    top:0.2rem;
}
.slide1 img:nth-child(2){
    width: 2.08rem;
    height: 1.88rem;
    right:0.3rem;
    top:0.2rem;
    z-index: 999;
}
.slide1 img:nth-child(3){
    width: 2.04rem;
    height: 1.94rem;
    right:0.02rem;
    top:0.02rem;
}
.slide1 img:nth-child(4){
    width: 2.24rem;
    height: 1.58rem;
    left:1rem;
    top:1.7rem;
}
.slide1 img:nth-child(5){
    width: 4.9rem;
    height: .66rem;
    right:1rem;
    top:3rem;
}
.slide1 img:nth-child(6){
    width: 2.18rem;
    height: 1.34rem;
    right:1rem;
    top:3.64rem;
}
.slide1 img:nth-child(7){
    width: 5.5rem;
    height: 2.94rem;
    right:0.4rem;
    top:4.66rem;
    z-index: 999;
}
.slide1 img:nth-child(8){
    width: 3.29rem;
    height: 1.89rem;
    left:-0.4rem;
    bottom:1.5rem;
    z-index: 100;
}
@keyframes move2 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: rotate(206deg) translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: rotate(206deg) translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: rotate(206deg) translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: rotate(206deg) translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: rotate(206deg) translate3d(0, 0, 0);
    }
}
.slide1 img:nth-child(9){
    width: 3.04rem;
    height: 2.54rem;
    left:0.8rem;
    bottom:0.8rem;
}
@keyframes move3 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: rotate(6deg) translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: rotate(6deg) translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: rotate(6deg) translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: rotate(6deg) translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: rotate(6deg) translate3d(0, 0, 0);
    }
}
.slide1 img:nth-child(10){
    width: 2.77rem;
    height: 1.67rem;
    right:0.88rem;
    bottom:1.48rem;
    /*transform: rotate(-14deg);*/
}
@keyframes move4 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: rotate(-17deg) translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: rotate(-17deg) translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: rotate(-17deg) translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: rotate(-17deg) translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: rotate(-17deg) translate3d(0, 0, 0);
    }
}
.slide1 img:nth-child(11){
    width: 2.38rem;
    height: 1.51rem;
    left:-0.3rem;
    bottom:-0.2rem;
    z-index: 999;
}
.slide1 img:nth-child(12){
    width: 1.61rem;
    height: 1.68rem;
    right:0.3rem;
    bottom:0rem;
    z-index: 999;
}

.slide2 img:nth-child(1){
    left: 0;
    top: 0;
    width: 1.34rem;
    height: 7.5rem;
}
.slide2 img:nth-child(2){
    left: -0.1rem;
    bottom: 0;
    height: 4.8rem;
    width: 2.46rem;
}
.slide2 img:nth-child(3){
    right: 0rem;
    top: -0.2rem;
    height: 2.2rem;
    width: 2rem;
}
@keyframes aaa {
    0%{
        transform: rotate(0deg) translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform:rotate(-55deg) translate3d(-25px, 0, 0);
        transform:rotate(-55deg) translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform:rotate(-55deg) translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform:rotate(-55deg) translate3d(-5px, 0, 0);
    }

    100%{
        transform: rotate(-55deg) translate3d(0, 0, 0);

    }
}
.slide2 img:nth-child(4){
    right: .3rem;
    bottom: .4rem;
    height: 1.8rem;
}
@keyframes mov {
    0%{
        transform: rotate(175deg) translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform:rotate(175deg) translate3d(-25px, 0, 0);
        transform:rotate(175deg) translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform:rotate(175deg) translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform:rotate(175deg) translate3d(-5px, 0, 0);
    }

    100%{
        transform: rotate(175deg) translate3d(0, 0, 0);

    }
}
.slide2 img:nth-child(5){
    left: .4rem;
    top: 1.1rem;
    height: 3.1rem;
}
.slide2 img:nth-child(6){
    left: .7rem;
    top: 1.4rem;
    height: 2.5rem;
}
.slide2 img:nth-child(7){
    right: .3rem;
    top: 2.5rem;
    height: .7rem;
    z-index: -1;
}
.slide2 .name{
    color: yellow;
    position: relative;
    right: -3.6rem;
    top: 2.6rem;
    font-size: .32rem;
}
.slide2 .geren{
    width: 4.45rem;
    height: 2.8rem;
    position: absolute;
    left: 1.5rem;
    top: 4rem;
}
.slide2 .geren ul li{
    line-height: .4rem;
    font-size: .32rem;
    padding-top: .14rem;
}
.slide2 .ziliao{
    position: absolute;
    right: 0.55rem;
    bottom: 1.3rem;
    width: 3.95rem;
    height: 2.25rem;
}
.slide2 .ziliao ul li{
    line-height: .45rem;
    font-size: .32rem;
    padding-top: .18rem;
}
.slide3 img:nth-child(1){
    right: -1rem;
    top: -.5rem;
    width: 2.5rem;
    height: 1.5rem;
}
.slide3 img:nth-child(2){
    left: -1rem;
    bottom: -0.4rem;
    width: 2.5rem;
    height: 1.5rem;
}
.slide3 img:nth-child(3){
    left: 0.2rem;
    top: .3rem;
    width: 1.8rem;
    height: 1.7rem;
}
.slide3 img:nth-child(4){
    left: 1.3rem;
    top: 1.7rem;
}
.slide3 img:nth-child(5){
    left: 1.5rem;
    top: 2rem;
}
.slide3 img:nth-child(6){
    left: 2.8rem;
    top: 3.5rem;
}
.slide3 img:nth-child(7){
     left: 2.8rem;
     top: 4.85rem;
}
.slide3 img:nth-child(8){
    left: 2.8rem;
    top: 6.2rem;
}
.slide3 img:nth-child(9){
    left: 2.8rem;
    top: 7.5rem;
}
.slide3 img:nth-child(10){
    right: .1rem;
    bottom: .1rem;
    width: 2.6rem;
    height: 2.2rem;
}
.slide3 .zi{
    width: .6rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    font-size: .4rem;
    font-weight: 900;
    position: absolute;
}
.slide3 .aa{
    left: 0.4rem;
    top: 3.5rem;
}
.slide3 .bb{
    left: 0.4rem;
    top: 4.85rem;
}
.slide3 .cc{
    left: 0.4rem;
    top: 6.2rem;
}
.slide3 .dd{
    left: 0.4rem;
    top: 7.55rem;
}
.slide4 img:nth-child(1){
    left: 1.46rem;
    top: .5rem;
    width: 3.7rem;
    height: 1.4rem;
}
.slide4 img:nth-child(2){
    left: .86rem;
    top: .36rem;
    width: 3.7rem;
    height: 1.4rem;
}
.slide4 img:nth-child(3){
    left: .5rem;
    bottom: .2rem;
    width: 2rem;
    height: 2.1rem;
}
.slide4 img:nth-child(4){
    right: .1rem;
    bottom: .1rem;
    width: 2rem;
    height: 2.1rem;
}
.slide4 img:nth-child(5){
    left: 1.75rem;
    top: 2.5rem;
    width: 3.2rem;
    height: .76rem;
}
.slide4 img:nth-child(6){
    left: 0.9rem;
    top: 4rem;
    height: 3rem;
}
.slide4 img:nth-child(7){
    left: .43rem;
    top: 4rem;
    width: 1.5rem;
    height: 1.5rem;
}
.slide4 img:nth-child(8){
    left: .43rem;
    top:  6rem;
    width: 1.5rem;
    height: 1.5rem;
}
.slide4 img:nth-child(9){
    left: .65rem;
    top: 6.5rem;
    width: 1.5rem;
    height: 1.5rem;
}
.slide4 img:nth-child(10){
    left: .65rem;
    top: 8rem;
    width: 1.5rem;
    height: 1.5rem;
}
.slide4 p{
    width: 4rem;
    height: .8rem;
    border: 1px solid #000;
    text-align: center;
    line-height: .8rem;
    position: absolute;
}
.slide4 .p1{
    right: .2rem;
    top: 4.3rem;
}
.slide4 .p2{
    right: .2rem;
    top: 6.3rem;
}
.slide4 .p3{
    right: .2rem;
    top: 6.85rem;
}
.slide4 .p4{
    right: .2rem;
    top: 8.3rem;
}
.slide5 img:nth-child(1){
    left: 1.87rem;
    top:  .2rem;
    width: 2.5rem;
    height: 1rem;
}
.slide5 img:nth-child(2){
    left: .5rem;
    bottom:  .5rem;
    transform: rotate(-85deg);
}
.slide5 img:nth-child(3){
    right: .5rem;
    bottom:  .5rem;
    transform: rotate(21deg);
}
.slide5 img:nth-child(4){
    left: 2.38rem;
    top:  .2rem;
    width: 2.2rem;
    height: 2rem;
}
.slide5 img:nth-child(5){
    left: 1.7rem;
    top:  3rem;
    width: 3.2rem;
    height: .76rem;
}
.slide5>div{
    width: 4.5rem;
    height: .8rem;
    border: .02rem solid #000;
    border-radius: 1.8rem;
    text-align: center;
    line-height: .8rem;
    position: absolute;
    font-size: .42rem;
}
.slide5 .hobby1{
    left: .2rem;
    top: 4.6rem;
}
.slide5 .hobby2{
    left: .8rem;
    top: 5.9rem;
}
.slide5 .hobby3{
    left: 1.3rem;
    top: 7.2rem;
}
.slide5 .hobby4{
    left: 1.8rem;
    top: 8.6rem;
}


#page1  img{
    opacity: 1;
}
#page1  img:nth-child(1){
    transform: rotate(10deg);
    animation: bounceInLeft 1s both;
}
#page1  img:nth-child(2){
    animation: bounceInRight 1s .5s both;
}
#page1  img:nth-child(3){
    animation: bounceIn 1s .9s both;
}
#page1  img:nth-child(4){
    animation: bounceInDown 1s 2.2s both;
}
#page1  img:nth-child(5){
    animation: bounceInLeft 1s 2.1s both;
}
#page1  img:nth-child(6){
    animation: bounceInDown 1s 2.4s both;
}
#page1  img:nth-child(7){
    z-index:9999999;
    animation: zoomIn 1s 2.5s both;
}
#page1  img:nth-child(8){
    animation: move2 1s 1.9s both;
}
#page1  img:nth-child(9){
    transform: rotate(6deg);
    animation: move3 1s 1.8s both;
}
#page1  img:nth-child(10){
    transform: rotate(-17deg);
    animation: move4 1s 2s both;
}
#page1  img:nth-child(11){
    transform: rotate(27deg);
    animation: move8 1s 1.2s both;
}
@keyframes move8 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: rotate(27deg) translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: rotate(27deg) translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: rotate(27deg) translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: rotate(27deg) translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: rotate(27deg);
    }
}
#page1  img:nth-child(12){
    transform: rotate(6deg);
    animation: bounceInRight 1s 1.5s both;
}
#page2 img{
    opacity: 1;
}
#page2 img:nth-child(1){
    animation: fadeInLeft 1s both;
    -webkit-animation: fadeInLeft 3s both;
}
#page2 img:nth-child(2){
    animation: fadeInUp 1s 0.2s both;
    -webkit-animation: fadeInUp 3s 0.2s both;
}
#page2 img:nth-child(3){
    animation: aaa 1.3s .5s both;
}
#page2 img:nth-child(4){
    animation: mov 1s .8s both;
}
#page2 img:nth-child(5){
    animation: bounceIn 1s 0.9s both;
}
#page2 img:nth-child(6){
    animation: bounceIn 1s 1.1s both;
}
#page2 img:nth-child(7){
    animation: fadeInLeft 1s 1.4s both;
}
#page2 .name{
    animation: bounceIn 1s 1.6s both
}
#page2 .geren{
    animation: bounceIn 1s 1.7s both
}
#page2 .ziliao{
    animation: bounceIn 1s 1.8s both
}
#page3  img{
    opacity: 1;
}
/*#page3 img:nth-child(1){
    transform: rotate(70deg);
    animation: bounceIn 2s 0.4s both;
}
#page3 img:nth-child(2){
    transform: rotate(70deg);
    animation: bounceIn 2s 0.4s both;
}*/
#page3 img:nth-child(3){
    transform: rotate(70deg);
    animation: bounceInDown 1s 0.1s both;
}
#page3 img:nth-child(4){

    animation: bounceInLeft 1s 0.4s both;
}
#page3 img:nth-child(5){

    animation: bounceInDown 1s 0.4s both;
}
#page3 img:nth-child(6){

    animation: fadeInRight 1s 0.8s both;
}
#page3 img:nth-child(7){

    animation: fadeInRight 1s 1.1s both;
}
#page3 img:nth-child(8){

    animation: fadeInRight 1s 1.4s both;
}
#page3 img:nth-child(9){

    animation: fadeInRight 1s 1.6s both;
}
#page3 img:nth-child(10){

    animation: bounceInUp 1s 0.1s both;
}
#page3 .aa{
    animation: fadeInLeft 1s 0.8s both;
}
#page3 .bb{
    animation: fadeInLeft 1s 1.1s both;
}
#page3 .cc{
    animation: fadeInLeft 1s 1.4s both;
}
#page3 .dd{
    animation: fadeInLeft 1s 1.6s both;
}
#page4 img:nth-child(1){
    animation: fadeInLeft 2s 0.1s both;
}
#page4 img:nth-child(2){
    animation: bounceInDown 2s 0.2s both;
}
#page4 img:nth-child(3){
    transform: rotate(274deg);
    animation: move5 2s 0.2s both;
}
@keyframes move5 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: rotate(274deg) translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: rotate(274deg) translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: rotate(274deg) translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: rotate(274deg) translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: rotate(274deg);
    }
}
#page4 img:nth-child(4){
    animation: move9 2s 0.2s both;
}
@keyframes move9 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform:  rotate(20deg) translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform:  rotate(20deg) translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform:  rotate(20deg) translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform:  rotate(20deg) translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform:  rotate(20deg);
    }
}
#page4 img:nth-child(5){
    animation: flipInY 1.5s 1s both;
}
#page4 img:nth-child(6){
    animation: fadeInUp 1s 1.4s both;
}
#page4 img:nth-child(7){
    animation: fadeIn 1.5s 2s both;
}
#page4 img:nth-child(8){
    animation: fadeIn 1.5s 2.3s both;
}
#page4 img:nth-child(9){
    animation: fadeIn 1.5s 2.6s both;
}
#page4 img:nth-child(10){
    animation: fadeIn 1.5s 2.9s both;
}
#page4 .p1{
    animation: bounceInRight 1s 2s both;
}
#page4 .p2{
    animation: bounceInRight 1s 2.3s both;
}
#page4 .p3{
    animation: bounceInRight 1s 2.6s both;
}
#page4 .p4{
    animation: bounceInRight 1s 2.9s both;
}

#page5 img:nth-child(1){
    animation: slideInLeft 1.5s 0.1s both;
}
#page5 img:nth-child(2){
    animation: move7 1.5s 0.3s both;
}
@keyframes move7 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: rotate(-85deg) translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: rotate(-85deg) translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: rotate(-85deg) translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: rotate(-85deg) translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: rotate(-85deg);
    }
}
#page5 img:nth-child(3){
    animation: bounceInRight 1.5s 0.3s both;
}
#page5 img:nth-child(4){
    animation: bounceInDown 1.5s 0.7s both;
}
#page5 img:nth-child(5){
    animation: zoomIn 1.5s 0.9s both;
}
#page5 .hobby1{
    animation: flipInY 1.5s 1s both;
}
#page5 .hobby2{
    animation: flipInY 1.5s 1.3s both;
}
#page5 .hobby3{
    animation: flipInY 1.5s 1.6s both;
}
#page5 .hobby4{
    animation: flipInY 1.5s 1.9s both;
}

.music {
    width: .6rem;
    height: .6rem;
    position: absolute;
    right: .2rem;
    top: .2rem;
    z-index: 9999 ;
    background: url("../image/bgmBtn-fbd2dc.svg") no-repeat;
    background-size: cover;
    opacity: 0;
}
.musicMove{
    opacity: 1;
    animation:move 1s infinite linear both;
    -webkit-animation:move 1s infinite linear both;
}

@keyframes move {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}